<style>
    {{ custom_theme.extra_css }}

    .msgapi .gn-theme.gn-homepage .gn-main-header:not([data-zalf-source="server"]),
    .msgapi .gn-theme.gn-homepage .gn-main-header-placeholder,
    .msgapi .gn-theme.gn-homepage .gn-footer,
    .msgapi .gn-theme.gn-homepage .gn-footer-placeholder,
    .msgapi .gn-catalogue .gn-main-header:not([data-zalf-source="server"]),
    .msgapi .gn-catalogue .gn-main-header-placeholder,
    .msgapi .gn-catalogue .gn-footer,
    .msgapi .gn-catalogue .gn-footer-placeholder {
        display: none !important;
    }
</style>
