
{% load i18n static %}
<!DOCTYPE html>
<html lang="en" class="{% block html_class %}{% endblock %}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta Http-Equiv="Pragma-directive: no-cache">
    <meta Http-Equiv="Cache-directive: no-cache">

    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'geonode/img/favicon.ico' %}" />
    
    <!-- Google Fonts: Inter + Noto Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Noto+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">

    {% block head %}
    <link rel="stylesheet" href="{% static 'geonode/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'geonode/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'geonode/css/zalf_theme.css' %}">
    {% endblock head %}

    {% block extra_head %}{% endblock extra_head %}
  </head>
  <nav>
    NAVBAR
  </nav>

  <body class="{% block body_class %}{% endblock %} {% block body_extra_class %}{% endblock %}">
    <div id="wrap">
      {% block middle %}{% endblock middle %}
    </div>

    {% block footer %}
    {% include 'geonode-mapstore-client/snippets/footer.html' %}
    {% endblock footer %}

    {% block extra_script %}
    
    {% endblock extra_script %}

  </body>
</html>
