{% load i18n avatar_tags %}
{% load static %}
{% load base_tags %}
{% load client_lib_tags %}

<!-- NAVBAR  ───────────────────────────────────────────── -->
<nav class="navbar navbar-expand-lg navbar-light bg-nav fixed-top">
  <div class="container-fluid nav-container">

    <!-- logo / brand -->
    <a class="navbar-brand" href="/">GeoNode</a>

    <!-- botão hamburguer -->
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- links / dropdowns -->
    <div class="collapse navbar-collapse" id="mainNav">

      <!-- bloco da esquerda --------------------------------------------------->
      <ul class="navbar-nav me-auto toolbar">

        <!-- Data -------------------------------------------------------------->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="ddData" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Data <i class="fa fa-angle-down fa-lg ms-1"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="ddData">
            <li><a class="dropdown-item" href="/catalogue/#/search/?filter{resource_type.in}=dataset">Datasets</a></li>
            <li><a class="dropdown-item" href="/catalogue/#/search/?filter{resource_type.in}=document">Documents</a></li>
            <li><a class="dropdown-item" href="/services/?limit=5">Remote Services</a></li>
          </ul>
        </li>

        <!-- Maps -------------------------------------------------------------->
        <li class="nav-item">
          <a class="nav-link" href="/catalogue/#/search/?filter{resource_type.in}=map">Maps</a>
        </li>

        <!-- Apps -------------------------------------------------------------->
        <li class="nav-item">
          <a class="nav-link" href="/catalogue/#/search/?filter{resource_type.in}=geostory">Apps</a>
        </li>

        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="ddAbout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About <i class="fa fa-angle-down fa-lg ms-1"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="ddAbout">
            <li><a class="dropdown-item" href="/people/">People</a></li>
            <li><a class="dropdown-item" href="/groups/">Groups</a></li>
            <li><a class="dropdown-item" href="/groups/categories/">Group Categories</a></li>
          </ul>
        </li>
      </ul>

      <!-- bloco da direita ---------------------------------------------------->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/account/signup/">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#SigninModal">Sign in</a>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>