{% load i18n avatar_tags %}
{% load static %}
{% load base_tags %}
{% load client_lib_tags %}

<nav class="navbar navbar-expand-lg navbar-sticky " role="navigation">
  <div class="container-gn">
    <!-- Brand + Toggler -->
    <a class="navbar-brand" href="{% url "home" %}">GeoNode</a>

    <!-- BS5 toggler (no jQuery needed) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topbarNavbar" aria-controls="topbarNavbar" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
      <i class="fa fa-navicon fa-lg" aria-hidden="true"></i>
    </button>

    <div class="collapse navbar-collapse" id="topbarNavbar">
      <!-- Left side -->
      <ul class="navbar-nav me-auto toolbar">

        {% block tabs %}

        <!-- Data -->
        <li class="nav-item dropdown" id="nav_layers">
          <a class="nav-link dropdown-toggle" href="#" id="ddData" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans "Data" %} <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="ddData">
            <li><a class="dropdown-item" href="{% dataset_list_url %}">{% trans "Datasets" %}</a></li>
            <li><a class="dropdown-item" href="{% document_list_url %}">{% trans "Documents" %}</a></li>
            <li><a class="dropdown-item" href="{% url "services" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Remote Services" %}</a></li>
            {% if user.is_superuser or user.is_staff %}
              {% if "add_resource" in user.perms %}
                <li><a class="dropdown-item" href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
              {% endif %}
            {% endif %}
          </ul>
        </li>

        <!-- Maps -->
        <li class="nav-item dropdown" id="nav_maps">
          {% if user.is_authenticated %}
            <a class="nav-link dropdown-toggle" href="#" id="ddMaps" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% trans "Maps" %} <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="ddMaps">
              <li><a class="dropdown-item" href="{% map_list_url %}">{% trans "Explore Maps" %}</a></li>
            </ul>
          {% else %}
            <a class="nav-link" href="{% map_list_url %}">{% trans "Maps" %}</a>
          {% endif %}
        </li>

        {% if GEONODE_APPS_ENABLE and GEONODE_APPS_NAV_MENU_ENABLE %}
          <!-- GeoNode Apps -->
          <li class="nav-item dropdown" id="nav_apps">
            {% if user.is_authenticated %}
              <a class="nav-link dropdown-toggle" href="#" id="ddApps" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% blocktrans %}{{GEONODE_APPS_NAME}}{% endblocktrans %} <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="ddApps">
                <li>
                  <a class="dropdown-item" href="{% geoapp_list_url %}">
                    {% trans "Explore" %} {% blocktrans %}{{GEONODE_APPS_NAME}}{% endblocktrans %}
                  </a>
                </li>
              </ul>
            {% else %}
              <a class="nav-link" href="{% geoapp_list_url %}">{% blocktrans %}{{GEONODE_APPS_NAME}}{% endblocktrans %}</a>
            {% endif %}
          </li>
        {% endif %}

        <!-- About -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="ddAbout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans "About" %} <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="ddAbout">
            <li><a class="dropdown-item" href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
            <li><a class="dropdown-item" href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
            <li><a class="dropdown-item" href="{% url "group_category_list" %}">{% trans "Group Categories" %}</a></li>
            {% if perms.announcements.can_manage %}
              <li><a class="dropdown-item" href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
            {% endif %}
            {% if user.is_authenticated and not READ_ONLY_MODE %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url "geonode.invitations:geonode-send-invite" %}">{% trans "Invite Users" %}</a></li>
            {% endif %}
            {% if user.is_superuser and not READ_ONLY_MODE %}
              <li>
                <a class="dropdown-item" href="{% if SITEURL|default:""|slice:"-1:" == "/" %}{{SITEURL}}{% else %}{{SITEURL}}/{% endif %}admin/people/profile/add/">
                  {% trans "Add User" %}
                </a>
              </li>
              <li><a class="dropdown-item" href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
            {% endif %}
          </ul>
        </li>

        {% block extra_tab %}{% endblock %}

        {% endblock %}
      </ul>

      <!-- Right side -->
      <ul class="navbar-nav ms-auto">
        {% block my_extra_right_tab %}
          {% render_nav_menu 'TOPBAR_MENU' %}
        {% endblock my_extra_right_tab %}

        {% if not user.is_authenticated and ACCOUNT_OPEN_SIGNUP and not READ_ONLY_MODE %}
          <li class="nav-item"><a class="nav-link" href="{% url "account_signup" %}">{% trans "Register" %}</a></li>
        {% endif %}

        {% if user.is_authenticated %}
          <!-- User dropdown with avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center gap-2 avatar" href="#" id="ddUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% autoescape off %}{% avatar user 40 %}{% endautoescape %}
              <span class="d-none d-sm-inline">
                {% with full_name=user.first_name|add:' '|add:user.last_name %}
                  {% if full_name.strip %}
                    {{ full_name | truncatechars:20 }}
                  {% else %}
                    {{ user.username | truncatechars:20 }}
                  {% endif %}
                {% endwith %}
              </span>
              <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ddUser">
              <li><a class="dropdown-item" href="{{ user.get_absolute_url }}">{% trans "Profile" %}</a></li>
              <li><a class="dropdown-item" href="{% url "recent-activity" %}">{% trans "Recent Activity" %}</a></li>
              <li><a class="dropdown-item" href="{% url "messages_inbox" %}">{% trans "Inbox" %}</a></li>

              {% if user.is_superuser or user.is_staff %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url "admin:index" %}">{% trans "Admin" %}</a></li>
                {% if 'geonode.geoserver' in INSTALLED_APPS %}
                  <li><a class="dropdown-item" href="{{ OGC_SERVER.default.WEB_UI_LOCATION }}">GeoServer</a></li>
                {% endif %}
                {% if USE_MONITORING %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url "monitoring:index" %}">{% trans "Monitoring & Analytics" %}</a></li>
                {% endif %}
              {% endif %}

              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url "help" %}">{% trans "Help" %}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="{% if SITEURL|default:""|slice:"-1:" == "/" %}{{SITEURL}}{% else %}{{SITEURL}}/{% endif %}account/logout/">
                  {% trans "Log out" %}
                </a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#SigninModal" role="button">
              {% trans "Sign in" %}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
