# #################
# Dev environment overrides
# Only values that differ from the root .env
# #################

# Enable debug for development
DEBUG=True
DEBUG_STATIC=True

# ZALF custom metadata template
CATALOG_METADATA_TEMPLATE=catalogue/zalf_metadata.xml
COMPOSE_PROJECT_NAME=geonode
DOCKER_ENV=development

# Advanced Workflow
RESOURCE_PUBLISHING=False
ADMIN_MODERATE_UPLOADS=False

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@localhost

DEBUG=True
DEBUG_STATIC=True

CATALOG_METADATA_TEMPLATE="catalogue/zalf_metadata.xml"

CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://localhost:8081

ZALF_DATACITE_BASE_UR= https://api.test.datacite.org/
ZALF_DATACITE_ACCOUNTS='[{"username": "", "password": "", "groups": ["data_stewards"]}]'
SOCIALACCOUNT_ONLY="True"
SOCIALACCOUNT_PROVIDER="ORCID"
SOCIALACCOUNT_PROVIDER_CONNECTOR_NAME="ORCID"
SOCIALACCOUNT_PROVIDER_REALM="ORCID"
SOCIALACCOUNT_PROVIDER_HOST=""
SOCIALACCOUNT_ORCID_BASE_URL="https://sandbox.orcid.org"
SOCIALACCOUNT_LOGOUT_REDIRECT_URL="https://sandbox.orcid.org/signout"
SOCIALACCOUNT_PROFILE_EXTRACTOR="geonode.people.profileextractors.OrcidExtractor"
SOCIALACCOUNT_GROUPNAME_PREFIX="gn_"
SOCIALACCOUNT_CLIENT_ID=""
SOCIALACCOUNT_CLIENT_SECRET=""