

{% for menu, menu_items in menus.items %}
  {% if menu_items|length > 0 %}
    <li class="nav-item dropdown">
      <a href="#"
         class="nav-link dropdown-toggle"
         id="dd-{{ menu.slug|default:menu.title|slugify }}"
         role="button"
         data-bs-toggle="dropdown"
         aria-expanded="false"
         aria-haspopup="true">
        {{ menu.title }}
        <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
      </a>

      <ul class="dropdown-menu"
          aria-labelledby="dd-{{ menu.slug|default:menu.title|slugify }}">
        {% for menu_item in menu_items %}
          <li>
            <a class="dropdown-item"
               href="{{ menu_item.url }}"
               {% if menu_item.blank_target %}target="_blank" rel="noopener"{% endif %}>
              {{ menu_item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% endfor %}


{% block content_reposition_script %}{% endblock %}
